<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.StudentMapper">

    <select id="queryStudentByPhone" resultType="Student">
    select *  from  teststudent;
    </select>

    <select id="queryStudent" resultType="Student">
        select * from teststudent where phone=#{phone} and password=#{password};
    </select>
    
    <insert id="addStudent" parameterType="Student">
        insert into teststudent VALUES (#{studentId},#{phone},#{password})
    </insert>


</mapper>